* {
  background-color: rgb(82, 151, 100);
}

.Login {
  margin-left: 25%;
  margin-top: 20%;
  padding: 10px 0 0;
  position: relative;
  width: 50%;
}

.InputLg {
  background: transparent;
  background-color: white;
  border: 0;
  border-bottom: 2px solid gray;
  color: black;
  font-family: inherit;
  font-size: 1.3rem;
  margin: 5px;
  padding: 10px 0;
  transition: border-color 0.2s;
  width: 95%;
}

.loginButton {
  background-color: black; /* Green */
  border: none;
  border-radius: 7%;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2) , 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: white;
  display: inline-block;
  font-size: 20px;
  height: 12%;
  margin-left: 38%;
}
