.userName {
  background-color: rgb(28, 34, 34);
  border: solid 1px;
  color: white;
  height: 15%;
  width: 15%;
}

.totalfi {
  background-color: rgba(248, 250, 127, 0.911);
  border: solid 1px;
  height: 15%;
  width: 15%;
}
